
  html, body {
  width: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: "DM Sans", sans-serif;
  font-size: 10;
  line-height: 1.3;
  background-color: white;
  padding: 0 1rem;
}
    label {
     display: flex;
     align-items: left;
     justify-content: left ;
     margin: 0 auto;
   }

select {
     margin-bottom: 10px;
     margin-top: 10px;
   }
.card-form {
  padding: 0rem 0rem 0;
}

input.input-field, textarea { 
  background: white;
}
    
.input {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 5px;
}
.input + .input {
  margin-top: 5px;
}
.input-label {
  color: black;
  margin-bottom: 5px;
  margin-top: 10px;
  transition: 0.25s ease;
  font-size: 14px
  width: 100%;
}
.input-field {
  border: solid 1px #d8d8d8;
  z-index: 1;
  background-color: transparent;
  width: 100%;
  
  font: inherit;
  padding: 0.25rem 0;
}
.input-field:focus, .input-field:valid {
  outline: 0;
  border-bottom-color: white;
}
.input-field:focus + .input-label, .input-field:valid + .input-label {
  color: #6658d3;
  transform: translateY(-1.5rem);
}
.action {
  margin-top: 5px;
}
.action-button {
  font: inherit;
  font-size: 1.00rem;
  padding: 10px;
  margin-top: 15px;
  width: 100%;
  font-weight: 500;
  background-color: #0ba2dc;
  border-radius: 16px;
  color: white;
  border: 0;
  cursor: pointer;
}

.action-button:focus {
  outline: 0;
}
.action-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.action-button:active {
  box-shadow: none;
  transform: translateY(0);
} 
#myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 10px;
}
    .copy-form {
  padding: 6px 36px 6px 14px;
}
.custom-input {
  height: 30px;
  width: 200px;
  border: solid 1px #d8d8d8;
}

.custom-input:hover {
  border-color: #0ba2dc;
}

.custom-input:focus {
  border-color: #0ba2dc;
}

.custom-tooltip {
  position: relative;
  display: inline-block;
  color: #0ba2dc;
}

/* Tooltip text */
.custom-tooltip .custom-tooltiptext {
  font-family: 'Poppins';
  visibility: hidden;
  width: 300px;
  background-color: #8c8e8fbd;
  font-size: 13px;
  color: #fff;
  text-align: center;
  padding: 8px 8px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  margin-left: 8px;
  margin-top: -15px;
  
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.5s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.custom-tooltip:hover .custom-tooltiptext {
  visibility: visible;
  opacity: 1;
}
    .green-circle {
  color: green;
  margin-right: 6px;
}

.red-circle {
  color: #f0593d;
  margin-right: 6px;
}