@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  padding: 20px 0px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-content {
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  margin-bottom: 0px;
  font-size: 22px;
}

.title-version {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.status-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*background-color: #1f3f77;*/
  background-color: #f1f2f6;
  /*color: white;*/
  height: 40px;
  padding: 20px;
  border-radius: 24px;
  border: solid 1px #e7e0e0;
}


.info-box {
  width: 100%;
  margin-top: 50px; 
  display: flex;
  justify-content: center;
}

.info-list {
  width: 65%;
}

ul {
  padding: 0px;
}

.list-element {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 4px;
}

.docs-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.docs-section {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.divider {
  margin-top: 12px; 
  margin-bottom: 12px; 
  margin-left: 0px;
}


.configure-box {
  margin-top: 30px;
  width: 100%;
  background-color: #fff8f7;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.configure {
  width: 65%;
  margin-top: 20px;
}


.input-label {
  margin-bottom: 2px;
}


.btn:focus {
  outline: none !important;
}

.icon-btn-div {
  cursor: pointer;
  padding: 2px 5px;
}

.icon-btn {
  background-color: #eeeeee;
  border: none;
  color: grey;
  padding: 0px 8px;
  cursor: pointer;
  margin-top: 12px;
  margin-left: -63px;
  font-size: 18px;
}

.icon-btn:hover {
  background-color: #eeeeee;
  color: black; /* White text */
}

.copy-form {
  padding: 6px 36px 6px 14px;
}

.custom-input {
  height: 45px;
  border: solid 2px #d8d8d8;
}

.custom-input:hover {
  border-color: #0ba2dc;
}

.custom-input:focus {
  border-color: #0ba2dc;
}

.custom-tooltip {
  position: relative;
  display: inline-block;
  color: #0ba2dc;
}

/* Tooltip text */
.custom-tooltip .custom-tooltiptext {
  font-family: 'Poppins';
  visibility: hidden;
  width: 300px;
  background-color: #8c8e8fbd;
  font-size: 13px;
  color: #fff;
  text-align: center;
  padding: 8px 8px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  margin-left: 8px;
  margin-top: -15px;
  
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.5s;
}

/* Tooltip arrow 
.custom-tooltip .custom-tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #8c8e8fbd transparent transparent;
}
*/

/* Show the tooltip text when you mouse over the tooltip container */
.custom-tooltip:hover .custom-tooltiptext {
  visibility: visible;
  opacity: 1;
}

.disconnect-box {
  margin-top: 20px;

  width: 100%;
  display: flex;
  justify-content: center;
}

.disconnect {
  width: 65%;
  margin-bottom: 30px;
  
}

.disconnect-button {
  width: 120px;
  margin-top: 5px;
  color: white;
  border-color: #f0593d;
  background-color: #f0593d;
  letter-spacing: 0.5px;
  font-size: 13px;
}

.disconnect-button:hover {
  width: 120px;
  margin-top: 5px;
  color: white;
  border-color: #d53e21;
  background-color: #d53e21;
  letter-spacing: 0.5px;
}

.disconnect-button:focus {
  width: 120px;
  margin-top: 5px;
  color: white;
  font-weight: 500;
  border-color: #d53e21;
  background-color: #d53e21;
  letter-spacing: 0.5px;
}


.version-box {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 20px 0px;
}

.version {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.version-title {
  font-size: 18px;
  margin-right: 20px;
}

.modal-text {
  margin-top: 20px; 
  margin-bottom: 20px;
}

.logo-container {
  margin: 0px 20px 0px 0px;
}

.green-circle {
  color: green;
  margin-right: 6px;
}

.red-circle {
  color: #f0593d;
  margin-right: 6px;
}

.success-modal {
  display: flex;
  z-index: 99;
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  justify-content: center;
  padding-top: 100px;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.success-modal .modal-content {
  width: 400px;
  height: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-modal {
  display: flex;
  z-index: 99;
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  justify-content: center;
  padding-top: 100px;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.error-modal .modal-content {
  width: 400px;
  height: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cancel-btn {
  width: 120px;
  margin-top: 5px;
  color: white;
  border-color: #c0c0c0;
  background-color: #c0c0c0;
  letter-spacing: 0.5px;
}

.cancel-btn:hover {
  width: 120px;
  margin-top: 5px;
  color: white;
  border-color: #929292;
  background-color: #929292;
  letter-spacing: 0.5px;
}

.cancel-btn:focus {
  width: 120px;
  margin-top: 5px;
  color: white;
  font-weight: 500;
  border-color: #929292;
  background-color: #929292;
  letter-spacing: 0.5px;
}